[Ll]ibrary/
[Tt]emp/
[Bb]uild/
[Bb]uilds/
[Pp]rojectSettings/UnityConnectSettings.asset
[Oo]bj/
[Mm]emoryCaptures/
sysinfo.txt
*.csproj
*.unityproj
*.sln
*.user
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
*.pidb.meta
*.sln.meta
*.csproj.meta
*.userprefs
.DS_Store
*.apk
.vscode/
